!!!
%html{html_attrs}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}/
    %title Toggle JS
    - scripts = %w(prototype effects lowpro toggle)
    - if params[:inline]
      - # Inline Javascript to make this file self contained for demo purposes
      %script{:type=>"text/javascript"}
        = "//<![CDATA["
        - for script in scripts
          = IO.read(File.join(File.dirname(__FILE__), '..', 'src', 'javascripts', "#{script}.js"))
        = "//]]>"
    - else
      - for script in scripts
        %script{:src=>"/src/javascripts/#{script}.js", :type=>"text/javascript"}
    %style{:type=>"text/css"}
      :sass
        body
          font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif
          font-size: 80%
        h3
          border-bottom: 1px solid silver
          padding-bottom: 2px
          margin-top: 10px
        label
          display: block
          &.checkbox, &.radio
            display: inline
        input
          font-size: 100%
        fieldset
          background: #e5e5e5
          border: 1px solid #ddd
          padding: 5px 15px
          margin: 1em 0
          border-radius: 5px
          -moz-border-radius: 5px
          -webkit-border-radius: 5px
        .expand_me
          border: 1px solid silver
          background: white
          padding: 1.5em 1em
          margin-bottom: 1em
        #one, #three, #four, #five, #nine, #eleven
          margin-bottom: 0
    :javascript
      Event.addBehavior({
        'a.toggle': Toggle.LinkBehavior(),
        'a.open': Toggle.LinkBehavior({
          effect: 'blind',
          beforeToggle: function(link) {
            link.innerHTML = (link.innerHTML == "Open") ? "Opening..." : "Closing...";
          },
          afterToggle: function(link) {
            link.innerHTML = (link.innerHTML == "Opening...") ? "Close" : "Open";
          }
        }),
        'form input.checkbox.toggle': Toggle.CheckboxBehavior(),
        'form input.checkbox.inverted_toggle': Toggle.CheckboxBehavior({invert: true}),
        'form .radio_group.toggle': Toggle.RadioGroupBehavior({effect: 'blind'}),
        'form select.toggle': Toggle.SelectBehavior()
      });
  %body
    %h1 toggle.js
    %form
      %fieldset
        %h3 Toggle.LinkBehavior
        .expand_me#one Expanded!
        %p
          %a.toggle{:href=>"#one", :rel=>"toggle[one]"} Expand
        .expand_me#two Expanded! 1
        .expand_me#three Expanded! 2
        %p
          %a.toggle{:href=>"#two", :rel=>"toggle[two,three]"} Expand even more
      %fieldset
        %h3 Toggle.LinkBehavior (with custom event handlers)
        .expand_me#four Expanded!
        %p
          %a.open{:href=>"#four", :rel=>"toggle[four]"} Open
      
      %fieldset
        %h3 Toggle.CheckboxBehavior
        %p
          %input.checkbox.toggle{:name=>"checkbox1", :id=>"checkbox1", :type=>"checkbox", :value=>"", :rel=>"toggle[five]"}/
          %label.checkbox{:for=>"checkbox1"} Check for more
        .expand_me#five Expanded!
        %p
          %input.checkbox.toggle{:name=>"checkbox2", :id=>"checkbox2", :type=>"checkbox", :value=>"", :rel=>"toggle[six,seven]"}/
          %label.checkbox{:for=>"checkbox2"} Check for even more
        .expand_me#six Expanded! 1
        .expand_me#seven Expanded! 2
      %fieldset
        %h3 Toggle.CheckboxBehavior (inverted)
        %p
          %input.checkbox.inverted_toggle{:name=>"checkbox3", :id=>"checkbox3", :type=>"checkbox", :value=>"", :rel=>"toggle[eight]"}/
          %label.checkbox{:for=>"checkbox3"} Check for less
        .expand_me#eight Expanded!
      
      %fieldset
        %h3 Toggle.RadioGroupBehavior
        .radio_group.toggle
          %p
            %input.radio{:name=>"option", :id=>"option_1", :type=>"radio", :value=>"1", :checked=>true}/
            %label.radio{:for=>"option_1"} None
          %p
            %input.radio{:name=>"option", :id=>"option_2", :type=>"radio", :value=>"2", :rel=>"toggle[nine]"}/
            %label.radio{:for=>"option_2"} Expand One
          .expand_me#nine Expanded!
          %p
            %input.radio{:name=>"option", :id=>"option_3", :type=>"radio", :value=>"3", :rel=>"toggle[ten,eleven]"}/
            %label.radio{:for=>"option_3"} Expand Two
          .expand_me#ten Expanded!  
          .expand_me#eleven Expanded!
          %p
            %input.radio{:name=>"option", :id=>"option_4", :type=>"radio", :value=>"4", :rel=>"toggle[nine,ten,eleven]"}/
            %label.radio{:for=>"option_4"} Expand All
      
      %fieldset
        %h3 Toggle.SelectBehavior
        %p
          %select.toggle{:name=>"select", :id=>"select"}
            %option &lt;select one&gt;
            %option{:value=>"1", :rel=>"toggle[twelve]"} Option 1
            %option{:value=>"2", :rel=>"toggle[thirteen]"} Option 2
            %option{:value=>"1,2", :rel=>"toggle[twelve,thirteen]"} Both Options
        .expand_me#twelve Expanded! Option 1 selected
        .expand_me#thirteen Expanded! Option 2 selected